# Data retrieval European Central Bank - rates

In [1]:
%load_ext autoreload
%autoreload 2
from  src.data import make_dataset

In [2]:
df = make_dataset.get_zerocurve('2019-10-01','2023-03-08')

In [3]:
df.head(14)

                tenor      rate   value_dt
rate_dt
2019-10-01   3 Months -0.719658 2020-01-01
2019-10-01   6 Months -0.756278 2020-04-01
2019-10-01   9 Months -0.785900 2020-07-01
2019-10-01     1 Year -0.808585 2020-10-01
2019-10-01  15 Months -0.824542 2021-01-01
2019-10-01  18 Months -0.834084 2021-04-01
2019-10-01    2 Years -0.835545 2021-10-01
2019-10-01    3 Years -0.781175 2022-10-01
2019-10-01    4 Years -0.675789 2023-10-01
2019-10-01    5 Years -0.545539 2024-10-01
2019-10-01    7 Years -0.279785 2026-10-01
2019-10-01   10 Years  0.021138 2029-10-01
2019-10-01   15 Years  0.247002 2034-10-01
2019-10-01   30 Years  0.322814 2049-10-01

In [4]:
df.describe()

               rate
count  12306.000000
mean       0.171888
std        1.073155
min       -1.075349
25%       -0.684498
50%       -0.276354
75%        0.620492
max        3.569761