# Data retrieval European Central Bank - rates

In [1]:
%load_ext autoreload
%autoreload 2
from  src.data.zerocurve import Zerocurve

In [2]:
zerocurve = Zerocurve()
zerocurve.read_data()

2023-03-17 17:46:21.676 | INFO     | src.data.dataset:read_data:26 - reading zerocurve data from ESW.
c:\Users\M\miniconda3\envs\rlalm\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: invalid value encountered in log1p
  result = func(self.values, **kwargs)

In [4]:
zerocurve.save_data()

2023-03-17 14:55:13.797 | INFO     | src.data.dataset:save_data:54 - saving zerocurve data to file.

In [5]:
zerocurve.load_data()

2023-03-17 14:55:15.806 | INFO     | src.data.dataset:load_data:44 - loading zerocurve data from file.
c:\Users\M\miniconda3\envs\rlalm\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: invalid value encountered in log1p
  result = func(self.values, **kwargs)

In [6]:
zerocurve.step()

2023-03-17 14:55:17.935 | DEBUG    | src.data.zerocurve:step:125 - Stepping in zerocurve 2023-03-01 00:00:00.

In [7]:
zerocurve.yield_data.tail()

tenor,0,3,6,9,12,15,18,24,36,48,60,84,120,180,360
rate_dt,,,,,,,,,,,,,,,
2023-02-23,3.049652,3.049652,3.238725,3.117648,2.918201,2.731899,2.586969,2.419994,2.359113,2.402910,2.454270,2.528621,2.571125,2.518990,2.050232
2023-02-24,3.045115,3.045115,3.279834,3.234152,3.087703,2.924748,2.780437,2.580853,2.444523,2.447321,2.477391,2.529558,2.560305,2.517924,2.115453
2023-02-27,3.074600,3.074600,3.325308,3.271961,3.111991,2.936755,2.783573,2.576131,2.445001,2.459598,2.500807,2.570856,2.619318,2.589171,2.164195
2023-02-28,3.052459,3.052459,3.369500,3.390191,3.282758,3.135074,2.989885,2.766859,2.588444,2.586636,2.630026,2.712942,2.767047,2.715403,2.173018
2023-03-01,3.048670,3.048670,3.366633,3.386959,3.279904,3.132476,2.987416,2.764837,2.585872,2.584007,2.627493,2.710190,2.764244,2.712933,2.171940

In [8]:
zerocurve.reset()

c:\Users\M\miniconda3\envs\rlalm\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: invalid value encountered in log1p
  result = func(self.values, **kwargs)

In [9]:
zerocurve.step()

2023-03-17 14:55:31.086 | DEBUG    | src.data.zerocurve:step:125 - Stepping in zerocurve 2023-03-01 00:00:00.

In [10]:
zerocurve.yield_data.tail()

tenor,0,3,6,9,12,15,18,24,36,48,60,84,120,180,360
rate_dt,,,,,,,,,,,,,,,
2023-02-23,3.049652,3.049652,3.238725,3.117648,2.918201,2.731899,2.586969,2.419994,2.359113,2.402910,2.454270,2.528621,2.571125,2.518990,2.050232
2023-02-24,3.045115,3.045115,3.279834,3.234152,3.087703,2.924748,2.780437,2.580853,2.444523,2.447321,2.477391,2.529558,2.560305,2.517924,2.115453
2023-02-27,3.074600,3.074600,3.325308,3.271961,3.111991,2.936755,2.783573,2.576131,2.445001,2.459598,2.500807,2.570856,2.619318,2.589171,2.164195
2023-02-28,3.052459,3.052459,3.369500,3.390191,3.282758,3.135074,2.989885,2.766859,2.588444,2.586636,2.630026,2.712942,2.767047,2.715403,2.173018
2023-03-01,3.051601,3.051601,3.368873,3.389493,3.282132,3.134499,2.989328,2.766430,2.587877,2.586062,2.629463,2.712326,2.766399,2.714846,2.172772

In [11]:
zerocurve.df.tail()

            tenor      rate   value_dt
rate_dt
2023-03-01     60  2.629463 2028-02-29
2023-03-01     84  2.712326 2030-03-01
2023-03-01    120  2.766399 2033-02-28
2023-03-01    180  2.714846 2038-03-01
2023-03-01    360  2.172772 2053-02-28

In [4]:
zerocurve.yield_data.dtypes

tenor
0      float64
3      float64
6      float64
9      float64
12     float64
15     float64
18     float64
24     float64
36     float64
48     float64
60     float64
84     float64
120    float64
180    float64
360    float64
dtype: object